@model Category

@section title {
   
        <h1>Add Category: @Model?.Name</h1>
    
}

<br />

<form method="post" asp-controller="categories" asp-action="Add">

    <div class="tet-danger" asp-validation-summary="All"></div>
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Name" class="col-form-label">Name</label>
        </div>

        <div class="col-6">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
       
            <input type="text" asp-for="Name" class="form-control" />
       
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Description" class="col-form-label">Description</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Description" class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Add" />
        </div>
        <div class="col-6"></div>
    </div>

</form>

